﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" Theme="light" %>

<asp:Content runat="server" ContentPlaceHolderID="intro">
    <h2>OBJECTS</h2>
    <p>JavaScript is designed on a simple object-based paradigm. An object is a collection of properties, 
    and a property is an association between a name (or key) and a value. A property's value can be a function, 
    in which case the property is known as a method. In addition to objects that are predefined in the browser, 
    you can define your own objects. This chapter describes how to use objects, properties, functions, and methods, 
    and how to create your own objects.</p>
</asp:Content>


<asp:Content runat="server" ContentPlaceHolderID="dataGrid">
        <asp:CodeBox ID="js" runat="server"
        SkinId="CodeBox" code="js_code" owner="Me" codeType="js">
        </asp:CodeBox>
</asp:Content>
